<h1>Welcome to the AcaTest App</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum iste saepe quae eligendi cum, laudantium, dolore quasi architecto qui in quas reprehenderit ipsam culpa! Totam doloribus, similique esse magni error earum, laboriosam quibusdam placeat voluptate dolore quis dicta, autem omnis molestiae minus nihil, possimus ea dolores a quod officia. Quas fugit reprehenderit totam sequi harum laboriosam praesentium provident eligendi at ab, veritatis nam illo quibusdam id exercitationem deleniti dolor deserunt accusamus fugiat alias animi. Id exercitationem quidem commodi, aspernatur molestias.</p>
<br>

<%= link_to 'View Posts', posts_path %>
